{% extends 'base.html' %}
{% block title %} Cadastro Languages {% endblock %}
{% block head %} {% endblock %}
{% load static %}


{% block content %}
    <hr>
    <div class="container-fluid">
        <fieldset class="Cadastro-Languages">
            <div class="mx-auto container-fluid">
                <h1 class="h3 mx-auto font-weight-normal text-center py-3">Línguas</h1>
                <form class="form mx-auto text-center avalidar" action="" method="post">
                    {% csrf_token %}
                    <!-- Linguas -->                    <fieldset>
                        <legend>1 - Cadastre </legend>
                        <div class="languages_edit">
                            <div class='from-group language_list'>
                                <!--Label 'Lingua e Proficiencia' -->
                                <div class="form-row">
                                    <div class="col">
                                        <p style="text-align: left">Língua</p>
                                    </div>
                                    <div class="col">
                                        <p style="text-align: left">Proficiência</p>
                                    </div>
                                </div>
                                <div class="dede">
                                    <div class="form-row teste">
                                        <!-- Lingua a ser Selecionada -->
                                        <div class="col">
                                            <select class="form-control">
                                                <option value="" disabled selected>Campo Vazio</option>
                                                <option value="1">Portuguesa</option>
                                                <option value="2">English</option>
                                                <option value="3">Spanish</option>
                                                <option value="4">French</option>
                                                <option value="5">German</option>
                                                <option value="6">Russian</option>
                                            </select>
                                        </div>

                                        <!-- Modal proficiência -->
                                        <div class="col">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-light btn-block" data-toggle="modal"
                                                    data-target=".bd-example-modal-lg">
                                                ⚙️ Configurar
                                            </button>

                                            <!-- Modal -->
                                            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                                                 aria-labelledby="myLargeModalL" aria-hidden="true">
                                                <div class="modal-dialog modal-lg" style="color: #495057;"
                                                     role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel"
                                                                style="color: #495057">Minha proficiência em
                                                                Português</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>

                                                        <div class="modal-body_1">
                                                            <div class="col" name="Left_nacionalidades">
                                                                <br>
                                                                <div class="float-left" style="width: 330px;">
                                                                    <label>Nacionalidades</label>
                                                                    <div class="tabela-nacionalidades">
                                                                        <table class="table">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td><input type="checkbox"></td>
                                                                                <td><p class="palavra">Brasileiro</p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><input type="checkbox"></td>
                                                                                <td><p class="palavra">Angolano</p></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><input type="checkbox"></td>
                                                                                <td><p class="palavra">Português</p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><input type="checkbox"></td>
                                                                                <td><p class="palavra">Moçambicano</p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><input type="checkbox"></td>
                                                                                <td><p class="palavra">Guineense</p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><input type="checkbox"></td>
                                                                                <td><p class="palavra">Cabo-verdiano</p>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col" name="Right_fluênciaverbal">
                                                                <div class="float-right">
                                                                    <div class=group>
                                                                        <label>Categoria / Fluência verbal</label>
                                                                        <div class="input-group" style="margin-bottom: 5px">
                                                                            <!--
                                                                            <div class="from-check">
                                                                                <input type="checkbox" class="form-check-input">
                                                                            </div>
                                                                            -->
                                                                            <div class="input-group-prepend">
                                                                                <label class="input-group-text"
                                                                                       style="width: 110px;" for=" inputGroup"
                                                                                >Lê</label>
                                                                            </div>
                                                                            <select class="custom-select" >
                                                                                <option selected>Escolher...
                                                                                </option>
                                                                                <option value="1">Pouco</option>
                                                                                <option value="2">Razoavelmente</option>
                                                                                <option value="3">Bem</option>
                                                                            </select>
                                                                        </div>

                                                                        <div class="input-group" style="margin-bottom: 5px">
                                                                            <div class="input-group-prepend">
                                                                                <label class="input-group-text"
                                                                                       style="width: 110px;"
                                                                                       for="inputGroup">Fala</label>
                                                                            </div>
                                                                            <select class="custom-select" >
                                                                                <option selected>Escolher...
                                                                                </option>
                                                                                <option value="1">Pouco</option>
                                                                                <option value="2">Razoavelmente</option>
                                                                                <option value="3">Bem</option>
                                                                            </select>
                                                                        </div>

                                                                        <div class="input-group" style="margin-bottom: 5px">
                                                                            <div class="input-group-prepend">
                                                                                <label class="input-group-text"
                                                                                       style="width: 110px;"
                                                                                       for="inputGroup">Escreve</label>
                                                                            </div>
                                                                            <select class="custom-select" >
                                                                                <option selected>Escolher...
                                                                                </option>
                                                                                <option value="1">Pouco</option>
                                                                                <option value="2">Razoavelmente</option>
                                                                                <option value="3">Bem</option>
                                                                            </select>
                                                                        </div>

                                                                        <div class="input-group" style="margin-bottom: 5px">
                                                                            <div class="input-group-prepend">
                                                                                <label class="input-group-text"
                                                                                       style="width: 110px;"
                                                                                       for="inputGroup">Compreende</label>
                                                                            </div>
                                                                            <select class="custom-select">
                                                                                <option selected>Escolher...
                                                                                </option>
                                                                                <option value="1">Pouco</option>
                                                                                <option value="2">Razoavelmente</option>
                                                                                <option value="3">Bem</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="teste" style="margin-bottom:40px;">
                                                            <div>
                                                                <br>
                                                                <hr>
                                                                <br>
                                                                <div class="row">
                                                                    <br>
                                                                    <div class="col">
                                                                        <label class="remover">Escala (Mais elevada possível)</label>
                                                                    </div>
                                                                    <div class="col">
                                                                        <label class="remover2">Certificação / Formação
                                                                            complementar</label>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="modal-body_2">
                                                                <div class="row teste-codigo" style="margin: auto;">
                                                                    <div class="col">
                                                                        <select class="form-control">
                                                                            <option selected>Campo vazio</option>
                                                                            <option>Não tenho</option>
                                                                            <option>Iniciante</option>
                                                                            <option>Básico</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col">
                                                                        <select class="form-control testeSelect">
                                                                            <option selected>Campo vazio</option>
                                                                            <option value="0">Não tenho</option>
                                                                            <option value="ABRATES">ABRATES</option>
                                                                            <option value="CELPE-Bras">CELPE-Bras</option>
                                                                            <option value="ProLibras">ProLibras</option>
                                                                            <option value="TOEFL">TOEFL</option>
                                                                            <option value="TOEIC">TOEIC</option>
                                                                            <option value="CEP">CEP</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="btn-group">
                                                            <div class="col">
                                                                <button type="button"
                                                                            class=" btn btn-light adicionar_certifido"
                                                                            style=" margin-bottom: 10px">Adicionar mais uma certificação para esta língua
                                                                </button>
                                                                <button type="button"
                                                                            class=" btn btn-danger remover_certificado"
                                                                            style=" margin-bottom: 10px" disabled>remover
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary"
                                                                    data-dismiss="modal">
                                                                Salvar
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Botão adicionar mais-->
                        <div class="form-row" style="float: left; margin-top: 10px">
                            <div class="col">
                                <button type="button" class="btn btn-light add-campo">Adicionar mais pares de línguas
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <br>
        </fieldset>
    </div>

    <hr>

    <fieldset>
        <legend>2 - Designe sua língua materna</legend>
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <select class="form-control">
                        <option value="" disabled selected>Campo Vazio</option>
                        <option value="1">English</option>
                        <option value="1">Mandarin</option>
                        <option value="1">Spanish</option>
                        <option value="1">Franch</option>
                        <option value="1">Arabic</option>
                        <option value="1">Bengali</option>
                        <option value="1">Russian</option>
                        <option value="1">Portuguese</option>
                        <option value="1">Indonesian</option>
                        <option value="1">German</option>
                        <option value="1">Japanese</option>
                        <option value="1">Italian</option>
                        <option value="1">Vietnamese</option>
                    </select>
                </div>
            </div>
        </div>
    </fieldset>

    <hr>
    <!-- Lingua Pairs -->
    <fieldset>
        <legend>3 - Informe seu(s) par(es) de língua(s)</legend>
        <div class="mx-auto container-fluid">
            <fieldset>
                <div class='from-group language_pairs'>
                    <div class="form-row">
                        <div class="col">
                            <p style="text-align: left">Língua de partida</p>
                        </div>
                        <div class="col">
                            <p style="text-align: left">Língua de chegada</p>
                        </div>
                    </div>
                    <div class="dede2">
                        <div class="form-row">
                            <div class="col">
                                <select class="form-control">
                                    <option value="" disabled selected>Escolha...</option>
                                    <option value="1">Português</option>
                                    <option value="2">English</option>
                                    <option value="3">Hebrew</option>
                                    <option value="4">French</option>
                                    <option value="5">German</option>
                                    <option value="6">Russian</option>
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-control">
                                    <option value="" disabled selected>Escolha...</option>
                                    <option value="1">Spanish</option>
                                    <option value="2">English</option>
                                    <option value="3">Hebrew</option>
                                    <option value="4">French</option>
                                    <option value="5">German</option>
                                    <option value="6">Russian</option>
                                </select>
                            </div>


                        </div>

                    </div>
                    <br>
                </div>
            </fieldset>
            <!--Botão adicionar mais-->
            <div class="form-row" style="float: left">
                <div class="col">
                    <button type="button" class="btn btn-light add-campo2">Adicionar mais pares de línguas
                    </button>
                </div>
            </div>
        </div>
    </fieldset>
    </form>
    </div>
    </div>

{% endblock %}

{% block script %}
    <script src= "{% static 'instantdesenv/js/cadastro_languages.js' %}"></script>
{% endblock %}
</div>
