{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% block title %} {% trans "Log in"%} {% endblock %}
{% block head %}

	<!-- Custom styles for this template -->

{% endblock %}

{% block content %}
  
	{% if form.errors %}
  		<p>Your username and password didn't match. Please try again.</p>
 	{% endif %}
  
 	{% if next %}
	  	{% if user.is_authenticated %}
	 	 	<p>Your account doesn't have access to this page. To proceed,
	 	 	please login with an account that has access.</p>
		{% else %}
	  		<p>Please login to see this page.</p>
	  	{% endif %}
  	{% endif %}
		<div class="form-row">
			<form method="POST" id = "form_reg" action="" class="mx-auto" >
				{% csrf_token %}
                <div class="form-group row">
                    <label for="username" class="col-sm-2 col-form-label">Username:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="username" name="username" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="first_name" class="col-sm-2 col-form-label">First Name:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="first_name" name="first_name" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="last_name" class="col-sm-2 col-form-label">Last Name:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="last_name" name="last_name" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">@</label>
                    <div class="col-sm-10">
                        <input class="form-control" id = "email" type="email" placeholder="simoes@example.com" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pass" class="col-sm-2 col-form-label">Password (8 characters minimum):</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="password" id="pass" name="password"
                           minlength="8" required>
                    </div>
                </div>

                <input type="button" id = "registration_form_submit" value="Register">
            </form>
		</div>	

	<p><a class = "text-white" href="{% url 'password_reset' %}"> {% trans "Forgot your password"%}?</a></p>
  

{% endblock %}

{% block script %}
	<script>
		//$.when( $.ready ).then(function() {

		//	let userLang = document.getElementsByTagName('html')[0].lang

		//	$.ajax({
		//		method: "GET",
		//		url: '/ajax/idioma/cpf/' + userLang,
		//		dataType: 'text',
		//		success: function(data) {
					
		//			let Select = document.getElementById('documents')
		//			Select.innerHTML = data
		//		},
		//		processData: false,
		//		contentType: false
		//	});

		//});

		$("#registration_form_submit").click( function(){

            let form_data = $("#form_reg").serializeArray()
            let data = {}

            form_data.forEach(function (element, index, array){
                data[element.name] = element.value
            });
            //delete data.csrfmiddlewaretoken
            console.log(data)

            $.ajax({
				method: "POST",
				url: '/instantAPI/users/',
				dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                data: JSON.stringify(data),
				success: function( data ) {
					console.log(data)
					console.log('Funcionou')
				},
				processData: false,
                contentType: 'application/json'
			});
		});
	</script>
{% endblock %}


