{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load rest_framework %}
{% block title %}{% endblock %}
{% block head %}

	<!-- Custom styles for this template -->

{% endblock %}

{% block content %}

    <form class="form-horizontal" action="" method="post" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <div class="mx-auto">
                    {% render_form serializer template_pack='rest_framework/horizontal'%}
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit!</button>
                </div>
            </div>
    </form>

{% endblock %}

{% block script %}
	<script>

		$("#registration_form_submit").click( function(){

            let form_data = $("#form_reg").serializeArray()
            let data = {}

            form_data.forEach(function (element, index, array){
                data[element.name] = element.value
            });
            //delete data.csrfmiddlewaretoken
            console.log(data)

            $.ajax({
				method: "POST",
				url: '/instantAPI/users/',
				dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                data: JSON.stringify(data),
				success: function( data ) {
					console.log(data)
					console.log('Funcionou')
				},
				processData: false,
                contentType: 'application/json'
			});
		});
	</script>
{% endblock %}


